.logoContainer {
  display: flex;
  align-items: center;
  width: 13rem;
}

.logo {
  margin-right: 0.5rem;
}

.logoString {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: xx-large;
  color: #e3fefe;
}
